* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://wallpaperaccess.com/full/514057.jpg) center;
    margin-top: 20px;
}

.game-board {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 15px solid rgb(179, 179, 84);
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
    animation: pipe-animation 1.5s infinite linear;
    background: none;
}

.mario {
    height: 120px;
    width: 150px;
    position: absolute;
    bottom: 0;
    background: none;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds 20s infinite linear;
    background: none;
}

.button{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 500px;
    background: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0px;
    }


}

@keyframes clouds {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }  
}